.agents {
  margin-bottom: 30px;
  padding: 15px 0px;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button > a {
  background-color: var(--red);
  padding: 5px 10px;
  border-radius: 8px;
  color: var(--darkblue);
  font-weight: 600;
}
.button > a:hover {
  color: #fff;
}

.rankCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rankCard > h4 {
  font-family: "Roboto" !important;
  font-weight: 600 !important;
  color: red;
}

.rankCard > img {
  width: 100px;
  height: 100px;
  padding: 10px;
}
