.card {
  height: 100%;
  padding: 10px;
  box-shadow: 1px 1px 10px gray;
}

.card:hover {
  box-shadow: 1px 1px 10px #dc3d4b;
}

.agentImg {
  height: 150px;
  display: flex;
  margin: auto;
}

.card > h3 {
  text-align: center;
  font-weight: bold;
  color: #dc3d4b;
  margin: 5px 0px;
}

.cardBody {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardBody > p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
