@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* colors, ex. color:var(--red) */
:root {
  --red: #fa4454;
  --darkblue: #042e27;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto";
}
body {
  height: 100%;
}
ul {
  list-style: none;
}
